@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}
.animate-blob {
  animation: blob 7s infinite;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadein {
  animation: fadein 1.2s cubic-bezier(0.4,0,0.2,1) both;
}
.delay-200 { animation-delay: 0.2s; }
.delay-300 { animation-delay: 0.3s; }
.delay-500 { animation-delay: 0.5s; }
.delay-700 { animation-delay: 0.7s; }
.delay-1000 { animation-delay: 1s; }

@keyframes slidein {
  from { opacity: 0; transform: translateY(-60px) scale(0.95); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}
.animate-slidein {
  animation: slidein 1.1s cubic-bezier(0.4,0,0.2,1) both;
}

@keyframes gradient {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 4s ease-in-out infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media print {
  /* Cache tout sauf le reçu */
  body * {
    visibility: hidden;
  }
  #receipt-to-print, #receipt-to-print * {
    visibility: visible;
  }
  #receipt-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-print-color-adjust: exact !important; /* Force les couleurs sur Chrome/Safari */
    print-color-adjust: exact !important;         /* Force les couleurs */
  }
  /* Supprime les marges par défaut (date, URL en haut de page) */
  @page {
    margin: 0;
  }
}
